version: '3.8'
services:
  db:
    container_name: db
    hostname: ${POSTGRES_HOST}
    image: postgres:latest
    restart: on-failure
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
      TZ: ${TZ}
      PGTZ: ${TZ}
    ports:
      - ${POSTGRES_INTERNAL_PORT}:${POSTGRES_EXTERNAL_PORT}
    volumes:
      - .${VOLUME_FOLDER}:/var/lib/postgresql/data
  rabbitmq:
    image: rabbitmq:management
    ports:
      - "5672:5672"
      - "15672:15672"
  app:
    container_name: app
    depends_on: 
      - db
      - rabbitmq
    build:
      context: .
    environment:
      SERVER_INTERNAL_PORT: ${SERVER_INTERNAL_PORT}
      SERVER_ENTERNAL_PORT: ${SERVER_EXTERNAL_PORT}
      CONTEXT_PATH: ${CONTEXT_PATH}
      POSTGRES_HOST: db
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_INTERNAL_PORT: ${POSTGRES_INTERNAL_PORT}
      SPRING_PROFILES_ACTIVE: 'production'
      TZ: ${TZ}
      LOG_FOLDER: ${LOG_FOLDER}
      SPRING_RABBITMQ_HOST: rabbitmq
    ports:
      -  ${SERVER_INTERNAL_PORT}:${SERVER_EXTERNAL_PORT}
